server:
  address: 0.0.0.0
  port: 8080

spring:
  application:
    name: api
  config:
    import: optional:file:.env[.properties]
  profiles:
    active: dev
    default: dev
  mvc:
    throw-exception-if-no-handler-found: true
  web:
    resources:
      add-mappings: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 86400000

auth:
  refresh-token-validity-days: 7

